@import "./kokou-no-hito.css";

* {
    font-family: "JetBrainsMonoNL Nerd Font";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background-color: @background-color;
    color: @foreground-color;
    border-top: 2px solid @border-color-inactive;
}

tooltip {
    background-color: @background-color;
    border: 2px solid @border-color-active;
}

tooltip label {
    color: @active-text-color;
    text-shadow: 0px 0px 3px @text-color-active;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @text-color-inactive;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    text-shadow: 0px 0px 5px @text-color-inactive;
}

#workspaces button.active {
    color: @text-color-active;
    border-top: 2px solid @border-color-active;
    text-shadow: 0px 0px 5px @text-color-active;
}

#cpu,
#memory,
#network,
#wireplumber, 
#language,
#clock,
#control-panel * {
    padding: 0 10px;
    transition: .2s;
    text-shadow: 0px 0px 5px @text-color-inactive;
}

#cpu:hover,
#memory:hover,
#network:hover,
#wireplumber:hover,
#language:hover,
#clock:hover,
#control-panel *:hover {
    color: @text-active;
    text-shadow: 0px 0px 5px @text-color-active;
}

#calendar {
    background-color: @background-color;
    color: @text-color-inactive;
}
