@import "../themes/kokou-no-hito.css";

* {
  font-family: 'JetBrainsMonoNL Nerd Font';
  font-size: 16px;
}

window {
  margin: 0px;
  padding: 10px;
  border: 2px solid @lightest;
  border-radius: 2px;
  background-color: @darkest;
}

#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @darkest;
}

#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @darkest;
}

#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @darkest;
}

#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @light;
  background-color: @darkest;
}

#input image {
    border: none;
    color: @red;
}

#input * {
  outline: 4px solid @red!important;
}

#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry {
  background-color: @darkest;
}

#entry arrow {
  border: none;
  color: @lavender;
}

#entry:selected {
  border: 0.11em solid @lavender;
}

#entry:selected #text {
  color: @mauve;
}

#entry:drop(active) {
  background-color: @lavender!important;
}
