@import "../themes/kokou-no-hito.css";

* {
    font-family: "JetBrainsMonoNL Nerd Font";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background-color: @darkest;
    color: @light;
    border-top: 2px solid @darkest;
}

tooltip {
    background-color: @darkest;
    border: 2px solid @lighter;
}

tooltip label {
    color: @lightest;
    text-shadow: 0px 0px 3px @lightest;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @light;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    text-shadow: 0px 0px 5px @light;
}

#workspaces button.active {
    color: @lightest;
    border-top: 2px solid @lightest;
    text-shadow: 0px 0px 5px @lightest;
}

#cpu,
#memory,
#network,
#wireplumber, 
#language,
#clock,
#control-panel * {
    padding: 0 10px;
    transition: .2s;
    text-shadow: 0px 0px 5px @light;
}

#cpu:hover,
#memory:hover,
#network:hover,
#wireplumber:hover,
#language:hover,
#clock:hover,
#control-panel *:hover {
    color: @lightest;
    text-shadow: 0px 0px 5px @lightest;
}
